# Create your own .env file
DB_NAME= # name of the database, I can recommend one, but it is not that important
DB_SUPERUSER= # most likely postgres, it is what you set up during installation,
DB_SUPERPASS= # set up during installation,
DB_USER= # new user's username, you provide it
DB_PASS= # new user's password, you provide it
DB_PORT= # most likely default 5432