{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Register</h1>

{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

<form method="POST">
    <p>
        <label>Username<br>
            <input type="text" name="username" value="{{ data.username if data else '' }}">
        </label>
        {% if errors.username %}<br><span>{{ errors.username }}</span>{% endif %}
    </p>
    <p>
        <label>Password<br>
            <input type="password" name="password">
        </label>
        {% if errors.password %}<br><span>{{ errors.password }}</span>{% endif %}
    </p>
    <button type="submit">Register</button>
</form>

<p><a href="{{ url_for('user.login') }}">Already have an account? Login</a></p>
{% endblock %}
